* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.section__title {
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.fa-chevron-right {
    font-size: 36px;
}

.fa-star {
    color: rgb(255, 204, 0);
}


.box {
    position: relative;
    cursor: pointer;
    .fa-regular {
        position: absolute;
        font-size: 25px;
        color: #000000B3;
        top: 20px;
        right: 20px;
    }
    &__title {
        font-size: 17px;
        margin: 10px 0 0 10px;
    }
    &__rate {
        font-size: 17px;
        color: #000000B3;
        margin: 5px 0 0 10px;
    }   
    &__btn {
        font-size: 18px;
        background-color: yellow;
        padding: 4px 8px;
        border: none;
        border-radius: 6px;
        margin: 7px 0 10px 10px;
    }
    &__price {
        font-size: 17px;
        margin: 0 0 0 10px;
    }
    &__nprice {
        font-size: 14px;
        text-decoration: line-through;
        color: #000000B3;
        margin: 0 0 0 10px;
    }
    div {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid #000000B3;
        border-radius: 50%;
        bottom: 9px;
        right: 5px;
    }
}

.image {
    border-radius: 20px;
}

