.header {
    height: 1000px;
    &__nav {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        padding: 40px 30px 40px 50px;
        &-btn {
            width: 140px;
            height: 46px;
            font-size: 18px;
            font-weight: 400;
            text-transform: capitalize;
            color: #3333CC;
            background-color: #3B3BC41A;
            border: none;
            border-radius: 5px;
            margin: 0 5px 0 50px;
        }
        input {
            width: 540px;
            height: 46px;
            font-size: 18px;
            padding: 0 0 0 20px;
            border: none;
            border-left: 1px solid rgba($color: #000000, $alpha: 0.2);
            border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        }
        .magnifying-glass {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 46px;
            background-color: #76797F0D;
            border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
            border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
            margin: 0 50px 0 0;
        }
        &-box {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            margin: 0 30px 0 0;
            gap: 5px;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 60px 40px 50px;
    }
    &__title a {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }
    &__item a {
        position: relative;
        font-size: 18px;
        font-weight: 400;
        color: #000000B3;
        transition: all 1s ease;
    }
    &__item a::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background-color: #000000;
        bottom: -5px;
        transition: all 1s ease;
    }
    &__item a:hover::before {
        width: 100%;
        left: 0;
    }
    &__item a:hover {
        color: #000000;
    }
    &__hero {
        width: 100%;
        height: 70%;
        background-image: url(../../images/hero\ image.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}